@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Raports</h1>

<div class="form-group">
    <a href="/Raport/ProductRaport/" class="btn btn-outline-info">Product Raports</a>
</div>

<div class="form-group">
    <a href="/Raport/MessageRaport/" class="btn btn-outline-info">Message Raports</a>
</div>

<div class="form-group">
    <a href="/Raport/AnnouncementRaport/" class="btn btn-outline-info">Announcement Raports</a>
</div>