
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="mdi mdi-monitor-dashboard menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Service/Index/">
                <i class="mdi mdi-toolbox-outline menu-icon"></i>
                <span class="menu-title">Service</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/Index/">
                <i class="mdi mdi-apple menu-icon"></i>
                <span class="menu-title">Products</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Team/Index/">
                <i class="mdi mdi-steam menu-icon"></i>
                <span class="menu-title">Team</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Announcement/Index/">
                <i class="mdi mdi-bullhorn menu-icon"></i>
                <span class="menu-title">Announcements</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Contact/Index/">
                <i class="mdi mdi-message-alert menu-icon"></i>
                <span class="menu-title">Messages</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Image/Index/">
                <i class="mdi mdi-image-area-close menu-icon"></i>
                <span class="menu-title">Images</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Address/Index/">
                <i class="mdi mdi-map-marker menu-icon"></i>
                <span class="menu-title">Address</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Chart/Index/">
                <i class="mdi mdi-chart-areaspline menu-icon"></i>
                <span class="menu-title">Graphics</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Raport/Index/">
                <i class="mdi mdi-file-chart menu-icon"></i>
                <span class="menu-title">Raports</span>
            </a>
        </li>
        @* <li class="nav-item">
            <a class="nav-link" href="/Admin/Index/">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">User</span>
            </a>
        </li> *@
    </ul>
</nav>