@using EntityLayer.Concrete
@model List<Team>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Our Team</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td class="py-1"><img src=@item.ImageUrl alt="image" /></td>
                                <td>@item.PersonName</td>
                                <td>@item.Title</td>
                                <td><a href="/Team/DeleteTeam/ @item.TeamId" class="btn btn-outline-danger">Delete</a></td>
                                <td><a href="/Team/EditTeam/ @item.TeamId" class="btn btn-outline-success">Update</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <a href="/Team/AddTeam/" class="btn btn-outline-info">Add Team Member</a>
            </div>
        </div>
    </div>
</div>
