<div class="bottom-social-w3ls w3ls-social-icons">
	<a class="facebook" href="https://github.com/ParanovaFactory"><i class="fa fa-facebook"></i></a>
	<a class="twitter" href="https://github.com/ParanovaFactory"><i class="fa fa-twitter"></i></a>
	<a class="pinterest" href="https://github.com/ParanovaFactory"><i class="fa fa-pinterest-p"></i></a>
	<a class="linkedin" href="https://github.com/ParanovaFactory"><i class="fa fa-linkedin"></i></a>
</div>
<div class="copy">
	<p>© @DateTime.Now.Year In Harvest . All Rights Reserved | Design by <a href="https://github.com/ParanovaFactory">Sadık Berkay Karaduman</a> </p>
</div>