@model EntityLayer.Concrete.Contact

<div class="col-md-9 contact-middle">
	<h2>Say Hello</h2>
	<form method="post">
		<div class="form-agileinfo">
			<p>Name and Surname</p>
			<input type="text" name="your name" placeholder="Your name and surname" required="" />
			<p>Email</p>
			<input type="email" name="your email" placeholder="Your email" required="" />
		</div>
		<div class="form-agileits-w3layouts">
			<p>Comments</p>
			<textarea name="your message" placeholder="Your message" required="" ></textarea>
			<input type="submit" value="SEND MESSAGE">
		</div>
		<div class="clearfix"></div>
	</form>
</div>